<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/styles.css">
<div class="container">
	<div class="browseCat">
		<h1>Browse Categories</h1>

		<div class="catList">
			<% for(let category of categories) { %>
			<a href="/category/<%= category.name %>" class="category">
				<img src="/icons/<%= category.name %>.png" alt="">
				<div><%= category.name %></div>
			</a>
			<% } %>
		</div>
	</div>
	<div class="threads">
		<div class="recent" id="recent">
			<h1>Recent Threads</h1>
			<ul class="recentThreads">
				<% for(let recThread of recThreads) { %>
				<li>
					<a href="/thread/<%= recThread._id %>" class="threadLink"><%= recThread.title %></a>
					<div class="threadInfo">
						<span class="postCount"><%= recThread.posts.length || 0 %></span>
						<span>Posts</span>
					</div>
					<div class="userInfo">
						<div class="ogPoster">By <a href="/profile/<%= recThread.posts[recThread.posts.length - 1].authorName %>"><%= recThread.posts[recThread.posts.length - 1].authorName %></a></div>
						<div class="timeCreated"><%= recThread.lastModified.toISOString().substring(0, 10) %>  <%= recThread.lastModified.getUTCHours() %>:<%= recThread.lastModified.getUTCMinutes() > 10 ? '' : '0' %><%= recThread.lastModified.getUTCMinutes() %> </a></div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
		<div class="popular" id="popular">
			<h1>Popular Threads</h1>
			<ul class="popThreads">
				<% for(let popThread of popThreads) { %>
				<li>
					<a href="/thread/<%= popThread._id %>" class="threadLink"><%= popThread.title %></a>
					<div class="threadInfo">
						<span class="postCount"><%= popThread.posts.length || 0 %></span>
						<span>Posts</span>
					</div>
					<div class="userInfo">
						<div class="ogPoster">By <a href="/profile/<%= popThread.OPName %>"><%= popThread.OPName %></a></div>
						<div class="timeCreated"><%= popThread.createdAt.toISOString().substring(0, 10) %>  <%= popThread.createdAt.getUTCHours() %>:<%= popThread.createdAt.getUTCMinutes() > 10 ? '' : '0' %><%= popThread.createdAt.getUTCMinutes() %> </a></div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>