<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/search.css">

<div class="container">
	<h2>Advanced Search</h2>
	<form action="/search" method="GET">
		<input type="text" placeholder="Search for term" name="q">
		<input type="text" placeholder="Post by User" name="user">
		<button>Search</button>
	</form>
	<div class="threads">
		<div class="searchResults">
			<h1>Search Results</h1>
			<ul class="resThreads">
				<% for(let thread of results) { %>
				<li>
					<a href="/thread/<%= thread._id %>" class="threadLink"><%= thread.title %></a>
					<div class="threadInfo">
						<span class="postCount"><%= thread.posts.length || 0 %></span>
						<span>Posts</span>
					</div>
					<div class="userInfo">
						<div class="ogPoster">By <a href="userProfile.html"><%= thread.OPName %></a></div>
						<div class="timeCreated"><%= thread.createdAt.toISOString().substring(0, 10) %>  <%= thread.createdAt.getUTCHours() %>:<%= thread.createdAt.getUTCMinutes() > 10 ? '' : '0' %><%= thread.createdAt.getUTCMinutes() %></a></div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
