<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/thread.css">

<div class="container">
	<h1><%= thread.title %></h1>

		<div class="replies">
		<% for(let post of thread.posts) { %>
			<div class="post">
				<span><a href="/profile/<%= post.authorName %>"><%= post.authorName %></a> said:</span>
				<div class="postContent">
					<%= post.postContent %>
				</div>
			</div>
			<% if(user && user.username === post.authorName) { %>
				<div class="mutButton">
					<a href="/thread/<%= thread._id %>/post/<%= post._id %>/edit">Edit Post</a>
					<form action="/thread/<%= thread._id %>/post/<%= post._id %>?_method=DELETE" method="POST">
						<button>Delete Post</button>
					</form>
				</div>
			<% } %>
		<% } %>
	</div>

	<form action="/thread/<%= thread._id %>" method="POST" class="needs-validation" id="newPost" novalidate>
		<textarea name="postContent" id="newPostCont" cols="60" rows="10"></textarea>
		<div class="postBtns">
			<button id="submitPost">Submit</button>
			<button type="button" id="cancelPost">Cancel</button>
		</div>
	</form>
	<button class="addPost">Add a Post</button>
</div>

<script src="/js/thread.js"></script>
<script src="/js/newPostValidation.js"></script>