<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/thread.css">

<% const formatter = new Intl.DateTimeFormat('en-us', { month: 'long' }) %>

<div class="container">
	<h1><%= thread.title %></h1>

		<div class="replies">
		<% const posts = thread.posts %>
		<% for(let i = 0; i < posts.length; i++) { %>
			<div class="post">
				<div><span class="author"><a class="authorLink" href="/profile/<%= posts[i].authorName %>"><%= posts[i].authorName %></a> said:</span> <span class="time"><%= posts[i].createdAt.toISOString().substring(8, 10) %> <%= formatter.format(posts[i].createdAt) %> <%= posts[i].createdAt.toISOString().substring(0, 4) %>, <%= posts[i].createdAt.toLocaleString('en-US', { timezone: 'IST' }).substring(10) %></span></div>
				<div class="postContent">
					<%= posts[i].postContent %><% if(posts[i].modifiedAt) { %>
					<div class="lastModif">
						Last modified on <%= posts[i].modifiedAt.toISOString().substring(8, 10) %> <%= formatter.format(posts[i].modifiedAt) %> <%= posts[i].modifiedAt.toISOString().substring(0, 4) %>, <%= posts[i].modifiedAt.toLocaleString('en-US', { timezone: 'IST' }).substring(10) %></div><% } %></div>
			<% if(user && user.username === posts[i].authorName && i !== 0) { %>
				<div class="mutButton">
					<a href="/thread/<%= thread._id %>/post/<%= posts[i]._id %>/edit">Edit Post</a>
					<form action="/thread/<%= thread._id %>/post/<%= posts[i]._id %>?_method=DELETE" method="POST">
						<button>Delete Post</button>
					</form>
				</div>
			<% } %>
			</div>
		<% } %>
	</div>

	<form action="/thread/<%= thread._id %>" method="POST" class="needs-validation" id="newPost" novalidate>
		<textarea name="postContent" id="newPostCont" cols="60" rows="10"></textarea>
		<div class="postBtns">
			<button id="submitPost">Submit</button>
			<button type="button" id="cancelPost">Cancel</button>
		</div>
	</form>
	<button class="addPost">Add a Post</button>
</div>

<script src="/js/thread.js"></script>
<script src="/js/newPostValidation.js"></script>