<% layout('layouts/boilerplate.ejs') %>

<div class="container">
	<h1>Thread Title</h1>

	<div class="ogPost">
		<span><a href="/profile/<%= thread.OPName %>"><%= thread.OPName %></a> said:</span>
		<div class="postContent">
			<%= posts[0].postContent %>
		</div>
	</div>

	<div class="replies">
		<% for(let i = 1; i < posts.length; i++) { %>
		<div class="post">
			<span><a href="/profile/<%= posts[i].authorName %>"><%= posts[i].authorName %></a> said:</span>
			<div class="postContent">
				<%= posts[i].postContent %>
			</div>
		</div>
		<% } %>
	</div>

	<form action="/thread/<%= thread._id %>/new" method="POST" id="newPost">
		<textarea name="postContent" id="newPostCont" cols="60" rows="10"></textarea>
		<div class="postBtns">
			<button id="submitPost">Submit</button>
			<button type="button" id="cancelPost">Cancel</button>
		</div>
	</form>
	<button class="addPost">Add a Post</button>
</div>

<script src="js/thread.js"></script>
